* {
    box-sizing: border-box;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
header {
    background-color: black;
    width: 100%;
    height: 30px;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
body {
    background-color: white;
    color: black;
    font-family: 'Inconsolata', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section {
    width: 100%;
    line-height: 22px; 
}
h1 {
    color: black;
    font-size: 18px;
    padding: 15px;
    font-weight: 800;
}
h2 {
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 15px;
    font-weight: 700;
    align-items: center;
    display: flex;
}
h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}
p {
    color: black;
    background-color: white;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
    padding: 15px;
}
.nav {
    display: flex;
    height: 42px;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: aliceblue;
    position: fixed;
}
.nav-link {
    padding: 0 20px;
    line-height: 20px;
    transition: .3s;
    align-items: center;
    color: white;
    font-weight: 600;
    }
.profile-picture {
    width: 150px;
    height: 150px;
    align-items: flex-end;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
}
.contacts {
    padding: 15px;
    align-items: center;
}
.education {
    align-items: center;
    padding: 15px;
    line-height: 18px;
}
footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer-element{
    color: white;
    padding: 0, 20px;
}
.footer-image {
    height: 135px;
    width: 135px;
}
