* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    background-color: rgb(20, 119, 122);
    color: white;
    height: 14px;
    width: 100%;
}
body {
    background-color: rgb(196, 248, 248);
    font-family: 'Inconsolata', sans-serif;
    font-size: ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 18;
}
h2 {
    color: black;
    font-size: 16;
}
p {
    color: black;
    font-size: 14px;
    padding: 20px;
}
.nav {
    display: none;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    align-items: center;
}

